In [59]:
import pandas as pd

In [60]:
ld_train = pd.read_csv('loan_data_train.csv')

In [61]:
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,4200,4200,14.33%,60 months,car,14.16%,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,19800,19775,15.31%,60 months,debt_consolidation,15.03%,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,18000,18000,20.99%,60 months,credit_card,11.63%,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,7550,7550,10.16%,36 months,debt_consolidation,3.83%,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [62]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [63]:
### Insights and Data Cleaning and Processing
## We need to ignore ID as it is not useful for prediction
# Amount.Requested                 
#Amount.Funded.By.Investors typecasting
# Interest.Rate object to float + remove % sign custom function 

# Loan.Length                     
# Loan.Purpose category encoding

# Debt.To.Income.Ratio object to float + remove % sign custom function
# State and Home.Ownership category encoding

In [64]:
#ignore columns : ID [unique ID] , Interest.Rate[target]

###info : numeric ; data type : object ; typecasting

#Account.Requested
#Amount.Funded.By.Investors
#Revolving.CREDIT.Balance
#Open.CREDIT.Lines

### info : categorical , create dummies for it

#Loan.Length
#Loan.Purpose
#State
#Home.Ownership

###info : numeric , datatype : categorical , custom function

#Debt.To.Income.Ratio
#FICO.Range
#Employment.Length

### info : numeric , data type : numeric

#Montly.Income

#Inquiries.in.the.Last.6.Months

In [65]:
ld_train['Loan.Length'].value_counts(dropna=False)

Loan.Length
36 months    1722
60 months     476
NaN             1
.               1
Name: count, dtype: int64

In [66]:
ld_train['Loan.Purpose'].value_counts(dropna=False)

Loan.Purpose
debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
NaN                      1
Name: count, dtype: int64

In [67]:
for col in ld_train.columns:
    print(ld_train[col].value_counts(dropna=False))
    print('---------------------------------')

ID
79542.0     1
15197.0     1
40357.0     1
73060.0     1
74445.0     1
           ..
103315.0    1
79198.0     1
19226.0     1
25786.0     1
67953.0     1
Name: count, Length: 2200, dtype: int64
---------------------------------
Amount.Requested
10000    178
12000    132
5000      96
20000     92
6000      89
        ...
1950       1
15300      1
11950      1
23750      1
13225      1
Name: count, Length: 357, dtype: int64
---------------------------------
Amount.Funded.By.Investors
10000     146
12000      94
5000       77
6000       74
15000      60
         ...
10325       1
23275       1
544.89      1
6725        1
11725       1
Name: count, Length: 659, dtype: int64
---------------------------------
Interest.Rate
12.12%    114
7.90%     107
13.11%    103
15.31%     67
14.09%     61
         ...
11.54%      1
9.20%       1
14.79%      1
17.44%      1
20.99%      1
Name: count, Length: 265, dtype: int64
---------------------------------
Loan.Length
36 months    1722
60 months     476
NaN             1
.               1
Name: count, dtype: int64
---------------------------------
Loan.Purpose
debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
NaN                      1
Name: count, dtype: int64
---------------------------------
Debt.To.Income.Ratio
0%        7
12.54%    6
14.22%    5
15.88%    5
16.15%    5
         ..
12.47%    1
14.96%    1
5.43%     1
19.77%    1
11.63%    1
Name: count, Length: 1527, dtype: int64
---------------------------------
State
CA     376
NY     231
FL     149
TX     146
PA      88
IL      87
GA      82
NJ      81
VA      70
MA      64
NC      59
OH      59
MD      59
CO      54
WA      52
CT      44
AZ      44
MI      38
AL      34
MN      30
MO      29
NV      29
SC      27
WI      25
OR      25
KS      21
LA      20
KY      20
OK      20
NH      14
RI      13
UT      13
HI      12
WV      12
NM      12
AR      11
DC       9
AK       8
DE       7
MT       7
VT       5
WY       4
SD       4
IN       3
MS       1
NaN      1
.        1
Name: count, dtype: int64
---------------------------------
Home.Ownership
MORTGAGE    1018
RENT         999
OWN          177
OTHER          4
NaN            1
NONE           1
Name: count, dtype: int64
---------------------------------
Monthly.Income
5000.00     90
4166.67     69
3333.33     66
5416.67     60
5833.33     57
            ..
2519.17      1
5116.67      1
8937.50      1
27083.33     1
9051.83      1
Name: count, Length: 582, dtype: int64
---------------------------------
FICO.Range
670-674    151
675-679    144
680-684    141
695-699    138
665-669    129
690-694    127
705-709    117
685-689    116
700-704    115
720-724    107
660-664    106
710-714    102
730-734     84
725-729     78
715-719     73
735-739     54
750-754     54
745-749     51
740-744     45
760-764     40
755-759     37
765-769     33
780-784     27
775-779     19
790-794     18
785-789     17
770-774     16
800-804     13
795-799     12
805-809      9
810-814      7
815-819      6
640-644      5
645-649      3
655-659      3
820-824      1
830-834      1
650-654      1
Name: count, dtype: int64
---------------------------------
Open.CREDIT.Lines
8      226
9      213
6      202
7      188
11     168
10     159
12     139
13     137
5      136
14     118
4       92
15      88
16      58
3       55
17      48
18      42
19      26
20      23
21      22
2       19
23      10
22       8
24       7
NaN      4
.        3
26       3
25       3
31       1
34       1
38       1
Name: count, dtype: int64
---------------------------------
Revolving.CREDIT.Balance
0        31
NaN       3
12588     3
2174      3
6055      3
         ..
23653     1
20965     1
9490      1
3507      1
10204     1
Name: count, Length: 2081, dtype: int64
---------------------------------
Inquiries.in.the.Last.6.Months
0.0    1105
1.0     579
2.0     291
3.0     144
4.0      46
5.0      13
6.0       8
7.0       7
9.0       3
NaN       3
8.0       1
Name: count, dtype: int64
---------------------------------
Employment.Length
10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
NaN           69
9 years       66
.              1
Name: count, dtype: int64
---------------------------------

In [68]:
##Typecasting 
ld_train['Amount.Requested'] = ld_train['Amount.Requested'].fillna(0, inplace=True)
ld_train['Amount.Requested'] = ld_train['Amount.Requested'].astype('float')

C:\Users\hp\AppData\Local\Temp\ipykernel_55460\800767222.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ld_train['Amount.Requested'] = ld_train['Amount.Requested'].fillna(0, inplace=True)

In [69]:
ld_train_copy1 = ld_train.copy()

In [70]:
def convert_percent(val):
    val = str(val)
    new_val = val.replace('%', '')
    return float(new_val)


##

ld_train['Debt.To.Income.Ratio'] = ld_train['Debt.To.Income.Ratio'].apply(convert_percent)
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,NaN,25000,18.49%,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,NaN,19750,17.27%,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,NaN,2100,14.33%,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,NaN,28000,16.29%,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,NaN,17431.82,12.23%,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,NaN,30000,23.28%,60 months,other,12.10,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,NaN,4200,14.33%,60 months,car,14.16,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,NaN,19775,15.31%,60 months,debt_consolidation,15.03,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,NaN,18000,20.99%,60 months,credit_card,11.63,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,NaN,7550,10.16%,36 months,debt_consolidation,3.83,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [71]:
ld_train_copy1 = pd.get_dummies(ld_train['Loan.Purpose'], drop_first=True)
ld_train_copy1

,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding
0,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,False,False,False,False,False,False,False,False,True,False,False,False,False
2196,False,False,False,False,False,False,False,False,False,False,False,False,False
2197,False,True,False,False,False,False,False,False,False,False,False,False,False
2198,True,False,False,False,False,False,False,False,False,False,False,False,False
2199,False,True,False,False,False,False,False,False,False,False,False,False,False

In [72]:
ld_train = ld_train[ld_train['Employment.Length'] != '.']
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,NaN,25000,18.49%,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,NaN,19750,17.27%,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,NaN,2100,14.33%,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,NaN,28000,16.29%,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,NaN,17431.82,12.23%,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,NaN,30000,23.28%,60 months,other,12.10,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,NaN,4200,14.33%,60 months,car,14.16,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,NaN,19775,15.31%,60 months,debt_consolidation,15.03,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,NaN,18000,20.99%,60 months,credit_card,11.63,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,NaN,7550,10.16%,36 months,debt_consolidation,3.83,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [73]:
ld_train['Employment.Length'].value_counts(dropna=False)

Employment.Length
10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
NaN           69
9 years       66
Name: count, dtype: int64

In [74]:
import numpy as np

In [76]:
def convert_emp_length(val):
    if type(val) == str:
        if val == '10+ years':
            return 10
        elif val == '< 1 year':
            return 0
        else:
            return int(val.split()[0])
    else:
        return None
        
ld_train['Employment.Length'] = ld_train['Employment.Length'].apply(convert_emp_length)

C:\Users\hp\AppData\Local\Temp\ipykernel_55460\2467032786.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ld_train['Employment.Length'] = ld_train['Employment.Length'].apply(convert_emp_length)

In [77]:
mean_value = ld_train['Employment.Length'].mean()

ld_train['Employment.Length'].fillna(mean_value, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_55460\3593680386.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ld_train['Employment.Length'].fillna(mean_value, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_55460\3593680386.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ld_train['Employment.Length'].fillna(mean_value, inplace=True)

In [78]:
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,NaN,25000,18.49%,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5.0
1,75473.0,NaN,19750,17.27%,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4.0
2,67265.0,NaN,2100,14.33%,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13,893,1.0,0.0
3,80167.0,NaN,28000,16.29%,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10.0
4,17240.0,NaN,17431.82,12.23%,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,NaN,30000,23.28%,60 months,other,12.10,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10.0
2196,63768.0,NaN,4200,14.33%,60 months,car,14.16,NJ,RENT,3850.00,700-704,4,5718,0.0,2.0
2197,94545.0,NaN,19775,15.31%,60 months,debt_consolidation,15.03,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6.0
2198,53635.0,NaN,18000,20.99%,60 months,credit_card,11.63,CA,RENT,9051.83,670-674,5,32394,2.0,4.0
2199,67953.0,NaN,7550,10.16%,36 months,debt_consolidation,3.83,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2.0